<% content_for :title do %>
  <%= @quiz.page_title %>
<% end %>

<h1 class="center">
  <%= (@quiz.page_title || @topic.name) %>
</h1>
<% unless current_user %>
  <div class="center">
    <%= button_to('Sign Up to Track Your Progress', new_user_registration_path, :class => 'btn btn-primary btn-large', :method => :get) %>
  </div>
<% end %>

<% if @subject.name == "Ruby" && @topic.name == "Advanced" %>
  <div class="container-fluid announcement">
    Read <a target="_blank" href="https://www.amazon.com/gp/product/1941222129/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1941222129&linkCode=as2&tag=codequizzes-20&linkId=28342ae6a6b302fcc30519fd6ffd6044">Metaprogramming Ruby 2: Program Like the Ruby Pros</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=codequizzes-20&l=am2&o=1&a=1941222129" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> to master the advanced Ruby covered in these quizzes!
  </div>
<% elsif @subject.name == "Ruby" %>
  <div class="container-fluid announcement">
    Read <a target="_blank" href="https://www.amazon.com/gp/product/1617295213/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1617295213&linkCode=as2&tag=codequizzes-20&linkId=9837d16ce621f361378ce18fb397e7f1">The Well-Grounded Rubyist</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=codequizzes-20&l=am2&o=1&a=1617295213" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> to master the concepts in these quizzes!
  </div>
<% end %>

<table class="table table-bordered">
  <thead>
    <td class="col-md-5">Question</td>
    <td>Click to View Answer</td>
    <% if can? :update, Answer %>
      <td>Your Answer</td>
    <% end %>
    <% if can?(:update, Question) || can?(:destroy, Question) %>
      <td></td>
    <% end %>
  </thead>
  <% @questions.each do |question| %>
    <tr class="question-row" data-question-id="<%= question.id %>">
      <td class="question"><%= markdownify(question.body) %></td>
      <td class="answer clickable no-opacity"><%= markdownify(question.answer) %></td>

      <% if can? :update, Answer %>
        <td class="user-answer center">
          <% answer = @exam.answers.find { |a| a.exam_id == @exam.id && a.question_id == question.id } %>
          <% if answer %>
            <% if answer.is_correct %>
              <div class="correct">&#x2713;</div>
            <% else %>
              <div class="incorrect">&#x2718;</div>
            <% end %>
          <% else %>
            <%= button_to('Correct', set_answer_status_path(exam_id: @exam.id, question_id: question.id, is_correct: true), :class => 'btn btn-success correct-answer', :method => :post, :remote => true) %>
            <%= button_to('Wrong', set_answer_status_path(exam_id: @exam.id, question_id: question.id, is_correct: false), :class => 'btn btn-danger incorrect-answer', :method => :post, :remote => true) %>
          <% end %>
        </td>
      <% end %>

      <% if can?(:update, question) || can?(:destroy, question) %>
        <td>
          <% if can? :update, question %>
            <p><%= link_to "Edit", edit_quiz_question_path(:id => question.id, :quiz_id => @quiz.id) %></p>
          <% end %>
          <% if can? :destroy, question %>
            <p><%= link_to 'Destroy', [question.quiz, question], :method => :delete, :data => {:confirm => 'Are you sure?'} %></p>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>

<% if can? :create, Exam %>
  <div>
    <button class="btn btn-large btn-primary grade-exam" data-target="#examResults" data-toggle="modal">Grade this Exam</button>
  </div>
  <div id="examResults" class="modal fade" aria-hidden="true" aria-labelledby="examResultsLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
          <h4 id="examResultsLabel" class="modal-title">Exam Results</h4>
        </div>
        <div class="modal-body">
          <h4>Percent Correct: <span class="percent-correct"></span></h4>
          <h5>Correct Answers: <span class="correct-answers"></span></h5>
          <h5>Incorrect Answers: <span class="incorrect-answers"></span></h5>
          <h5>Not Answered: <span class="unanswered-questions"></span></h5>
          <%= button_to('Back To All Quizzes', root_path, :class => 'btn btn-primary', :method => :get) %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>

<% if can? :create, @quiz.questions.build %>
  <%= render "questions" %>
<% end %>

<br>

<% if @exam %>
  <div class="exam-information" data-exam-id="<%= @exam.id %>">
  </div>
<% end %>

<%= render 'disqus' %>

