- content_for :title do
  = @family.page_title

.container-fluid
  .nav-options= link_to('Login', new_user_session_path)
  .nav-options= link_to('Sign up', new_user_registration_path)
  .nav-options= link_to('Recent Exams', exams_path)
  .nav-options.hidden-xs= render 'layouts/github'

.hero-masonry.span12
  .hero-item.has-title.bg-primary
    %h1 CodeQuizzes
    %p.tagline Learn by doing
  - @topics.each do |topic|
    .hero-item.topic
      %h3= topic.name
      - topic.quizzes.sort_by(&:created_at).each do |quiz|
        .quiz-wrapper
          %span.quiz{:data => {:quiz_id => quiz.id}}= link_to quiz.body, topic_quiz_path(:topic_id => topic.slug, :id => quiz.slug)
          %br/
          .description= quiz.description
          - unless quiz.videos.blank?
            .videos
              Videos:
              = quiz.videos.map {|v| link_to(v.description, v.link)}.join(", ").html_safe
