<h1>Scala Tutorial</h1>

<h2>Beginner Scala</h2>

<h3>Scala variable assignment with var and val</h3>

<p>Watch <%= link_to "this video", "https://www.youtube.com/embed/iQUaaG5orkQ" %>.</p>

<p>Practice with <%= link_to "this quiz", "http://www.codequizzes.com/scala/beginner/variables-values-types" %>!</p>


<h3>Scala boolean values and logical comparisons</h3>

<p>Watch <%= link_to "this video", "https://www.youtube.com/embed/5QovbLRj-qQ" %>.</p>

<p>Practice with <%= link_to "this quiz", "http://www.codequizzes.com/scala/beginner/booleans-comparisons-type-operations" %>!</p>


<h3>Scala expressions and conditionals</h3>

<p>Watch <%= link_to "this video", "https://www.youtube.com/embed/UVMk5ujz7Aw" %> and <%= link_to "this video", "https://www.youtube.com/embed/qDcBKa9l1Q4" %>.</p>

<p>Practice with <%= link_to "this quiz", "http://www.codequizzes.com/scala/beginner/expressions-conditionals" %>!</p>


<h3>Scala Functions</h3>

<p>Watch <%= link_to "this video", "https://www.youtube.com/embed/dbYH4tStYqI" %>.</p>

<p>Practice with <%= link_to "this quiz", "http://www.codequizzes.com/scala/beginner/functions-intro" %>!</p>



<h2>Object Oriented Scala</h2>

<h3>Introduction to classes</h3>

<p>Watch <%= link_to "this video", "https://www.youtube.com/watch?v=thhvzc2VM8E" %>.</p>

<p>Practice with <%= link_to "this quiz", "http://www.codequizzes.com/scala/object-oriented-scala/class-introduction" %>!</p>


<h3>Abstract classes, overloading methods, and apply</h3>

<p>Watch <%= link_to "this video", "https://www.youtube.com/watch?v=h9sM9kktyQQ" %>.</p>

<p>Practice with <%= link_to "this quiz", "http://www.codequizzes.com/scala/object-oriented-scala/abstract-classes-overloading-methods-apply" %>!</p>


<h3>Singleton objects, the apply method, and traits</h3>

<p>Watch <%= link_to "this video", "https://www.youtube.com/watch?v=vqC3QkI2htI&feature=youtu.be" %>.</p>

<p>Practice with <%= link_to "this quiz", "http://www.codequizzes.com/scala/object-oriented-scala/singleton-objects-traits" %>!</p>

