<div class="challenge-wrapper col-md-8 col-md-offset-2">
  <%= markdownify(@markdown) %>

  <table class="table table-bordered">

    <thead>
      <td class="col-md-5">Question</td>
      <td>Click to View Answer</td>
    </thead>

    <% @section.questions.each do |question| %>

      <tr class="question-row">
        <td class="question">
          <%= markdownify(question.body) %>
        </td>
        <td class="answer clickable no-opacity">
          <%= markdownify(question.answer) %>
        </td>
      </tr>

    <% end %>

  </table>

  <% if @section.previous %>
    <%= link_to "<-- Previous (#{@section.previous})", js_books_path(section_name: @section.previous) %>
  <% end %>

  <% if @section.next %>
    <%= link_to "Next (#{@section.next}) -->", js_books_path(section_name: @section.next), class: "pull-right" %>
  <% end %>
</div>

