%h1 Total Users: #{@total_users}
%br
%h3 Total Exams: #{@total_exams}
%h3 Graded Exams: #{@graded_exams}
%h3 Cancelled Exams: #{@cancelled_exams}

%table
  %thead
    %td Date
    %td Sign Up Count
    %td Graded Exams
    %td Cancelled Exams
  - @grouped_users.keys.each do |date|
    %tr
      %td= date
      %td= @grouped_users[date]
      %td= @grouped_graded_exams[date]
      %td= @grouped_cancelled_exams[date]
