%h2= @test.body

%table
	%tr
		%td Question
		%td Answer
		%td Edit
		%td Destroy
	- @test.questions.each do |question|
		%tr
			%td
				%pre= question.body
			%td
				%pre= question.answer
			%td= link_to "Edit", edit_test_question_path(:id => question.id, :test_id => @test.id)
			%td= link_to 'Destroy', [question.test, question], :confirm => 'Are you sure?', :method => :delete

= render "questions"