%h2.test_name= @test.body

%table
	%thead
		%td.column1 Question
		%td.column2 Answer
		%td.column3 
		%td.column4 
	- @test.questions.sort_by {|question| question.created_at}.each do |question|
		%tr
			%td.question
				%pre= question.body
			%td.answer.answer_hide
				%pre= question.answer
			- if can? :update, question
				%td= link_to "Edit", edit_test_question_path(:id => question.id, :test_id => @test.id)
			- if can? :destroy, question
				%td= link_to 'Destroy', [question.test, question], :confirm => 'Are you sure?', :method => :delete

- if user_signed_in?
	- if current_user.tests.include? @test
		= render "questions"

= current_user.questions
= current_user.tests