<ul>

  <% unless controller_name == "families" %>
    <li class="brand-name nav-options bg-primary"><%= link_to "CodeQuizzes", root_path %></li>
  <% end %>

  <% if user_signed_in? %>
    <li class="nav-options">
      <%= link_to(user_exams_path) do %>
        <strong data-toggle="tooltip" data-placement="bottom" title="My Exams">
          <%= current_user.username %>
        </strong>
      <% end %>
    </li>
    <li class="nav-options">
      <%= link_to(edit_user_registration_path) do %>
        <i class="fa fa-gear" data-toggle="tooltip" data-placement="bottom" title="Edit Account"></i>
      <% end %>
    </li>
    <li class="nav-options">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out" data-toggle="tooltip" data-placement="bottom" title="Sign Out"></i>
      <% end %>
    </li>
  <% else %>
    <li class="nav-options"><%= link_to('Login', new_user_session_path) %></li>
    <li class="nav-options"><%= link_to('Sign up', new_user_registration_path) %></li>
  <% end %>

  <li class="nav-options hidden-xs"><%= link_to('Recent Exams', exams_path) %></li>

  <div id="facebook" class="hidden-xs">
    <%= render 'layouts/facebook' %>
  </div>

  <div id="twitter" class="hidden-xs">
    <%= render 'layouts/twitter' %>
  </div>

  <div class="nav-options hidden-xs">
    <%= render 'layouts/github' %>
  </div>

</ul>
