!!!
%html

  %head
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:name => "description", :content => "Learn programming with Ruby, JavaScript, and Rails code quizzes."}
    %meta{:name => "author", :content => "Matthew Powers"}

    %title
      #{content_for?(:title) ? yield(:title) : "Learn Programming - How To Code"} | CodeQuizzes
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

    =render 'layouts/google_analytics'

  %body
    .container-fluid
      - unless controller_name == "blogs"
        = render "layouts/navigation"
      = render 'layouts/announcement'
      = render 'layouts/messages'
      = yield
      = render 'layouts/footer'
