!!!
%html
  
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Code Quizzes"
      %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  
  %body
    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              .fb-like{"data-href" => "http://www.codequizzes.com/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
            .span12
              = render 'layouts/messages'
              = yield
          %footer= link_to "Made by Powers", static_pages_about_path