!!!
%html

  %head
    = favicon_link_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:name => "description", :content => "Learn programming with Ruby, JavaScript, and Rails code quizzes."}
    %meta{:name => "author", :content => "Matthew Powers"}

    %title CodeQuizzes | Learn Programming
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

    =render 'layouts/google_analytics'

  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      -#= render 'layouts/announcement' if params[:controller] == "families"
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
            = link_to "Made by Powers", static_pages_about_path
            |
            %a{href: "https://plus.google.com/106447578781585716639", rel: "publisher"} Google+
