!!!
%html
  
  %head
    = favicon_link_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:name => "keywords", :content => "programming practice problems, ruby practice problems, rails practice problems, ruby on rails practice problems, javascript practice problems, jquery practice problems, ruby, rails, ruby on rails, rspec, javascript, jquery, git, github, code quizzes, programming quizzes, programming tests, heroku, devise, cancan, polymorphism, nested resources"}
    %meta{:name => "description", :content => "Practice programming and web development with these HTML, CSS, Ruby, Rails, JavaScript and jQuery questions."}
    %meta{:name => "author", :content => "Matthew Powers"}

    %title CodeQuizzes
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

    =render 'layouts/google_analytics'
  
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/facebook'
          = render 'layouts/navigation'
    #main{:role => "main"}
      %script{:charset => "utf-8", :type => "text/javascript"}
        var is_ssl = ("https:" == document.location.protocol);
        var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
        document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
      %script{:charset => "utf-8", :type => "text/javascript"}
        var feedback_widget_options = {};
        feedback_widget_options.display = "overlay";
        feedback_widget_options.company = "CodeQuizzes";
        feedback_widget_options.placement = "right";
        feedback_widget_options.color = "#F2385A";
        feedback_widget_options.style = "idea";
        var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);

      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer= link_to "Made by Powers", static_pages_about_path